<% content_for(:title) { t("login.title") } %>

<%= render "components/card", css_classes: "w-full max-w-sm" do %>
  <%= render "components/card/header" do %>
    <%= render "components/card/title", text: t("app_name") %>
    <%= render "components/card/description", text: t("login.title") %>
  <% end %>

  <%= render "components/card/content" do %>
    <%= form_with url: login_path, method: :post, class: "space-y-4" do |f| %>
      <div class="space-y-2">
        <%= f.label :employee_number, t("login.employee_number") %>
        <%= f.text_field :employee_number, data: { component: "input" }, autofocus: true, autocomplete: "username" %>
      </div>

      <div class="space-y-2">
        <%= f.label :password, t("login.password") %>
        <%= f.password_field :password, data: { component: "input" }, autocomplete: "current-password" %>
      </div>

      <%= f.submit t("login.submit"), class: "w-full", data: { component: "button", variant: "primary", size: "lg" } %>
    <% end %>
  <% end %>
<% end %>
