<% content_for :title, t("admin.categories.title") %>

<%= render "admin/shared/nav" %>

<%= render "components/card" do %>
  <%= render "components/card/header", layout: :row do %>
    <div>
      <%= render "components/card/title", text: t("admin.categories.title") %>
    </div>
    <%= render "components/card/action" do %>
      <%= link_to t("admin.categories.new"), new_admin_category_path,
        data: { component: "button", variant: "default", size: "sm" } %>
    <% end %>
  <% end %>
  <%= render "components/card/content", spacing: :full do %>
    <%= render "components/simple_table",
      collection: @categories,
      empty_message: t("no_results"),
      columns: [
        { key: :name, label: t("admin.categories.attributes.name") },
        { key: ->(c) { render "admin/categories/actions", category: c }, label: "" }
      ] %>
  <% end %>
<% end %>
