<% content_for :title, t("admin.components.edit") %>

<%= render "admin/shared/nav" %>

<div class="mb-4">
  <h1 class="text-xl font-semibold"><%= t("admin.components.edit") %></h1>
</div>

<%= render "components/card" do %>
  <%= render "components/card/content" do %>
    <%= render "form", component: @component %>
  <% end %>
<% end %>
