<%= turbo_stream.remove "no_items_message" %>

<%= turbo_stream.prepend "order_items" do %>
  <%= render "line_items/line_item", item: @line_item, order: @order, highlight: true %>
<% end %>

<%= turbo_stream.replace "order_header" do %>
  <%= render "orders/order_header", order: @order %>
<% end %>

<%= turbo_stream.replace "order_summary" do %>
  <%= render "orders/order_summary", order: @order %>
<% end %>

<%= turbo_stream.replace "customization_product_#{@line_item.product_id}" do %>
  <div id="customization_product_<%= @line_item.product_id %>"></div>
<% end %>
