<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= content_for(:title) || t("app_name") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/service-worker")
      }
    </script>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-background text-foreground">
    <div class="flex min-h-svh items-center justify-center p-4">
      <%= yield %>
    </div>

    <%= render "components/toaster", position: :bottom_right do %>
      <%= toast_flash_messages %>
    <% end %>
  </body>
</html>
